
// .price-slider {
//     width: 243px;
//     margin: 20px auto 40px;
// }

.middle {
    position: relative;
    width: 50%;
    max-width: 500px;

}
.slider {   
    position: relative;
    z-index: 1;
    height: 10px;
    margin: 0 15px;
}
.slider > .track {
    position: absolute;
    z-index: 1;
    left: 0; right: 0; top: 0; bottom: 0;
    border-radius: 5px;
    background-color: white;
    border: 1px solid #122344; 
    height: 5px;
}
.slider > .range {
    position: absolute;
    z-index: 2;
    left: 0%;
    right: 0%;
    top: 0; bottom: 0;
    border-radius: 5px;
    background-color: #122344;
    height: 5px;
}
.slider > .thumb {
    position: absolute;
    z-index: 3;
    width: 20px;
    height: 20px;
    background-color: #122344;
    border-radius: 50%;

}
.slider > .thumb.left {
    left: 0;
    transform: translate(-5px, -7.5px);

}
.slider > .thumb.right {
    right: 0;
    transform: translate(15px, -7.5px);
}

input[type=range] {
    position: absolute;
    pointer-events: none;
    -webkit-appearance: none;
    z-index: 2;
    height: 10px;
    width: 100%;
   opacity: 0;
}
input[type=range]::-webkit-slider-thumb {
    pointer-events: all;
    width: 30px;
    height: 30px;
    border-radius: 0;
    border: 0 none;
    background-color: #122344;
    -webkit-appearance: none;
}


@import "tailwindcss/base";

body {
    font-family: "Helvetica";
}

@import "tailwindcss/components";

@import "tailwindcss/utilities";

.category-header {
 @apply text-blue-900;
 @apply font-semibold;
}

.active {
 @apply font-bold; 
 @apply text-dark-blue;
}

.category-lists {
    @apply py-6px text-category-lists leading-snug text-gray-700;
}

.category-lists > a {
    @apply relative;
}

#category-lists {
    @apply text-red-700
}

li.active  {
    @apply text-dark-blue;
}

.active > a::before {
    @apply empty-content absolute left-active top-0 h-full w-1 bg-dark-blue;
}

.filter-wrapper li > a{
    @apply p-10px text-filter-color text-filter-size block;
}

.filter-wrapper {
    @apply border border-solid border-gray-300;
}

.filter-wrapper::before {
    @apply absolute w-4 h-4 border-b-0 border-r-0 border-l border-t border-gray-300 border-solid bg-white empty-content inset-x-4/6 -ml-4 transform rotate-45; 
}

.size-headers {
    @apply text-category-header text-dark-blue m-0 mb-2 pt-4 pr-2 pl-2;
}

.color-lists {
    @apply mt-1 pl-6;
}

#category-wrapper::before {
     @apply bottom-cat-bot-bef;
}
#sizes-wrapper::before {
    @apply bottom-size-bot-bef;
}
#color-wrapper::before {
    @apply bottom-col-bot-bef;
}
#range-wrapper::before {
    @apply bottom-ran-bot-bef;
}



